Unidad-4/Actividad 2/concesionario.dtd



    <!ELEMENT concesionario (Coche*)>
    <!ELEMENT Coche (codigo_de_coche, marca, modelo, matricula, potenciacv, plazas, num_puertas)>
    <!ELEMENT codigo_de_coche (#PCDATA)>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT matricula (#PCDATA)>
    <!ELEMENT potenciacv (#PCDATA)>
    <!ELEMENT plazas (#PCDATA)>
    <!ELEMENT num_puertas (#PCDATA)>
